workflow/8. Vendor Performance Tracker.json
{
  "name": "8. Vendor Performance Tracker",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      },
      "id": "6c1973cf-4ccc-4653-ac4f-817b96a852be",
      "name": "Schedule - Monday 8 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -1808,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "const vendors = $input.all();\n\nif (vendors.length === 0) {\n  return [{json: {skip: true}}];\n}\n\nreturn vendors.map(vendor => ({\n  json: {\n    vendorId: vendor.json.id,\n    vendorName: vendor.json.property_name,\n    category: vendor.json.property_category,\n    riskTier: vendor.json.property_risk_tier,\n    projectCount: vendor.json.property_project_count\n  }\n}));"
      },
      "id": "bfb74fc8-8950-4749-a66b-3096d57a9709",
      "name": "Split Vendors",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1344,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "const vendorData = $('Split Vendors').all();\nconst records = $('Get many database pages2').all() || [];\nconst actions = $('Get many database pages1').all() || [];\n\nconsole.log(actions)\n\nconst today = new Date();\n\n// Helper function to calculate difference in days\nconst daysBetween = (start, end) => Math.floor((new Date(end) - new Date(start)) / (1000 * 60 * 60 * 24));\n\n// --- RFI Response Time ---\nconst rfiRecords = records.filter(r => r.json.property_record_type == 'RFI');\n\nconst rfiResponses = rfiRecords\n  .map(r => {\n    const receive = r.json.property_created_time;\n    const ack = r.json.property_acknowledgment_date?r.json.property_acknowledgment_date:null;\n    const status = r.json.property_status;\n    return receive && ack && status === 'Responded' ? daysBetween(receive, ack) : null;\n  })\n  .filter(d => d !== null);\n\nconst avgRFIResponse = rfiResponses.length > 0\n  ? Math.round(rfiResponses.reduce((a, b) => a + b, 0) / rfiResponses.length)\n  : 0;\n\n// --- Late Acknowledgments (>7 days) ---\nconst lateAcknowledgments = records.filter(r => {\n  const issue = r.json.property_issue_date?r.json.property_issue_date:null;\n    const ack = r.json.property_acknowledgment_date?r.json.property_acknowledgment_date:null;\n  return issue && ack && daysBetween(issue, ack) > 7;\n}).length;\n\n// --- Open Issues ---\nconst openIssues = actions.length;\n\n// --- Quality Issues ---\nconst negativeKeywords = ['defect', 'non-compliant', 'rejected', 'fail', 'issue', 'problem', 'poor', 'substandard'];\nconst qualityIssues = records.filter(r => {\n  const type = r.json.property_received_date;\n  const body = r.json.property_summary;\n  return type === 'Site Report' && negativeKeywords.some(k => body.toLowerCase().includes(k));\n}).length;\n\n// --- Performance Score ---\nlet score = 100;\nscore -= Math.max(0, avgRFIResponse - 5) * 5; // RFI penalty\nscore -= lateAcknowledgments * 3;\nscore -= openIssues * 2;\nscore -= qualityIssues * 10;\nscore = Math.min(100, Math.max(0, score)); // clamp between 0-100\n\n// --- Performance Tier ---\nconst performanceTier = score >= 80 ? 'Excellent'\n                     : score >= 60 ? 'Good'\n                     : score >= 40 ? 'Fair'\n                     : 'Poor';\n\n// --- Needs Review Flag ---\nconst needsReview = score < 40 && vendorData.riskTier === 'Approved';\n\n// --- Return Result ---\nreturn {\n  json: {\n    vendorData,\n    metrics: {\n      totalRecords: records.length,\n      rfiCount: rfiRecords.length,\n      avgRFIResponse,\n      lateAcknowledgments,\n      openIssues,\n      qualityIssues\n    },\n    score,\n    performanceTier,\n    needsReview,\n    evaluationDate: today.toISOString().split('T')[0]\n  }\n};"
      },
      "id": "12fef62a-bf1c-4f1e-a811-31ff16d93ce8",
      "name": "Calculate Performance Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        32
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.needsReview}}",
              "value2": true
            }
          ]
        }
      },
      "id": "a790cea7-8841-43c4-9950-9f8a9cf3f230",
      "name": "Needs Review?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        320,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "// -----------------------------\n// 1️⃣ Aggregate all vendor performance data\n// -----------------------------\nconst allVendors = $('Calculate Performance Score').all();\n\nconst vendorsByTier = {\n  'Excellent': [],\n  'Good': [],\n  'Fair': [],\n  'Poor': []\n};\n\n// Map each vendor to its tier\nfor (const vendor of allVendors) {\n  const data = vendor.json;\n  vendorsByTier[data.performanceTier].push({\n    name: data.vendorName,\n    category: data.category,\n    score: data.score,\n    metrics: data.metrics\n  });\n}\n\n// Sort each tier by score descending\nfor (const tier in vendorsByTier) {\n  vendorsByTier[tier].sort((a, b) => b.score - a.score);\n}\n\n// Current report date\nconst reportDate = new Date().toISOString().split('T')[0];\n\n// -----------------------------\n// 2️⃣ Function to generate HTML section for a tier\n// -----------------------------\nfunction generateTierSection(tier, vendors, color) {\n  if (vendors.length === 0) {\n    return `<p style=\"font-style: italic; color: #6b7280;\">No vendors in this tier</p>`;\n  }\n  \n  return vendors.map(v => `\n    <div style=\"background: #ffffff; padding: 15px; margin-bottom: 12px; border-left: 5px solid ${color}; box-shadow: 0 2px 4px rgba(0,0,0,0.05); border-radius: 6px;\">\n      <h4 style=\"margin: 0 0 6px 0; font-size: 16px; color: #1f2937;\">${v.name}</h4>\n      <p style=\"margin: 0; font-size: 14px; color: #374151;\"><strong>Score:</strong> ${v.score}/100 | <strong>Category:</strong> ${v.category}</p>\n      <p style=\"margin: 4px 0 0 0; font-size: 13px; color: #6b7280;\">\n        Avg RFI Response: ${v.metrics.avgRFIResponse}d | \n        Open Issues: ${v.metrics.openIssues} | \n        Quality Issues: ${v.metrics.qualityIssues} |\n        Late Acknowledgements: ${v.metrics.lateAcknowledgments}\n      </p>\n    </div>\n  `).join('');\n}\n\n// -----------------------------\n// 3️⃣ Generate professional HTML for email\n// -----------------------------\nconst emailHtml = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <title>True Build Vendor Performance Report</title>\n  <style>\n    body { font-family: 'Arial', sans-serif; margin: 0; padding: 0; background: #f3f4f6; color: #1f2937; line-height: 1.5; }\n    .container { max-width: 800px; margin: 0 auto; padding: 20px; }\n    .header { background: linear-gradient(135deg, #4f46e5 0%, #6366f1 100%); color: white; padding: 30px; text-align: center; border-radius: 6px 6px 0 0; }\n    .header h1 { margin: 0; font-size: 24px; }\n    .header p { margin: 4px 0 0 0; font-size: 14px; }\n    .summary { background: #e0f2fe; padding: 20px; border-left: 5px solid #2563eb; border-radius: 6px; margin: 20px 0; }\n    .summary p { margin: 4px 0; font-size: 14px; }\n    .section { margin: 25px 0; }\n    .section-title { font-size: 18px; font-weight: bold; margin-bottom: 12px; padding-bottom: 6px; border-bottom: 2px solid #2563eb; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>🏛️ True Build Vendor Performance Report</h1>\n      <p>${reportDate}</p>\n    </div>\n\n    <div class=\"summary\">\n      <h3 style=\"margin-top: 0;\">📌 Summary</h3>\n      <p>Total Vendors Evaluated: ${allVendors.length}</p>\n      <p>Excellent: ${vendorsByTier['Excellent'].length} | Good: ${vendorsByTier['Good'].length} | Fair: ${vendorsByTier['Fair'].length} | Poor: ${vendorsByTier['Poor'].length}</p>\n    </div>\n\n    <div class=\"section\">\n      <div class=\"section-title\" style=\"color: #10b981;\">🌟 Excellent Performance (80-100)</div>\n      ${generateTierSection('Excellent', vendorsByTier['Excellent'], '#10b981')}\n    </div>\n\n    <div class=\"section\">\n      <div class=\"section-title\" style=\"color: #2563eb;\">Good Performance (60-79)</div>\n      ${generateTierSection('Good', vendorsByTier['Good'], '#2563eb')}\n    </div>\n\n    <div class=\"section\">\n      <div class=\"section-title\" style=\"color: #f59e0b;\">Fair Performance (40-59)</div>\n      ${generateTierSection('Fair', vendorsByTier['Fair'], '#f59e0b')}\n    </div>\n\n    <div class=\"section\">\n      <div class=\"section-title\" style=\"color: #dc2626;\">Poor Performance (<40)</div>\n      ${generateTierSection('Poor', vendorsByTier['Poor'], '#dc2626')}\n    </div>\n  </div>\n</body>\n</html>\n`;\n\n// -----------------------------\n// 4️⃣ Return JSON with HTML and summary\n// -----------------------------\nreturn {\n  json: {\n    emailHtml,\n    reportDate,\n    totalVendors: allVendors.length,\n    summary: vendorsByTier\n  }\n};"
      },
      "id": "2b21a43f-337b-490b-986e-599ec8fb35f0",
      "name": "Generate Performance Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        288
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "2e092ecf-c465-80ae-9022-c3cf24f71223",
          "mode": "list",
          "cachedResultName": "Vendors",
          "cachedResultUrl": "https://www.notion.so/2e092ecfc46580ae9022c3cf24f71223"
        },
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Status|select",
              "condition": "equals",
              "selectValue": "Active"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -1568,
        32
      ],
      "id": "4d3f26f6-5496-4a0c-83fa-d84e52e53924",
      "name": "Get many database pages",
      "credentials": {
        "notionApi": {
          "id": "weTJzSxXCKieQ4wY",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "2e392ecf-c465-8053-802a-c406b6ba5aab",
          "mode": "list",
          "cachedResultName": "Project Records ",
          "cachedResultUrl": "https://www.notion.so/2e392ecfc4658053802ac406b6ba5aab"
        },
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "From Party (Vendors)|rich_text",
              "condition": "equals",
              "richTextValue": "={{ $('Split Vendors').item.json.vendorName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -848,
        32
      ],
      "id": "90ed2d38-14c4-4041-99de-6c780f2b7db1",
      "name": "Get many database pages2",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "notionApi": {
          "id": "weTJzSxXCKieQ4wY",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.json.vendorId }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Notes|rich_text",
              "textContent": "=Performance Evaluation ({{$('Calculate Performance Score').first().json.evaluationDate}}):\\n\\nScore:{{ $('Calculate Performance Score').item.json.score }} /100\\nTier:{{ $('Calculate Performance Score').item.json.performanceTier }} \\n\\nMetrics:\\n- Avg RFI Response: {{ $('Calculate Performance Score').item.json.metrics.avgRFIResponse }} days {{ $('Calculate Performance Score').item.json.metrics.rfiCount }} RFIs)\\n- Late Acknowledgments: {{ $('Calculate Performance Score').item.json.metrics.lateAcknowledgments }}\\n- Open Issues:{{ $('Calculate Performance Score').item.json.metrics.openIssues }} \\n- Quality Issues:{{ $('Calculate Performance Score').item.json.metrics.qualityIssues }} \\n- Total Records (90d): {{ $('Calculate Performance Score').item.json.metrics.totalRecords }}\\n\\n{{$json.needsReview ? '⚠️ ALERT: Performance declining - Review Risk Tier' : ''}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -80,
        32
      ],
      "id": "c50af75a-0e57-4830-92b0-6c3fcae8f3a2",
      "name": "Update a database page",
      "credentials": {
        "notionApi": {
          "id": "weTJzSxXCKieQ4wY",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "vendorData",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -304,
        32
      ],
      "id": "0359a6c9-20be-4a83-a6a7-6eded02a172d",
      "name": "Split Out"
    },
    {
      "parameters": {
        "sendTo": "iamumair244@gmail.com",
        "subject": "Vendor Alert",
        "emailType": "text",
        "message": "⚠️ Vendor Alert: {{$json.vendorName}} - Performance Declining",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        560,
        -32
      ],
      "id": "0af1f476-4db0-44a4-abe3-0297a7bfcbbe",
      "name": "Send a message",
      "webhookId": "b66aac45-1977-4bf3-a040-247c8a902e15",
      "credentials": {
        "gmailOAuth2": {
          "id": "BBT3X2s2UlLmI1hr",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "iamumair244@gmail.com",
        "subject": "Vendor Performance Report",
        "message": "={{ $json.emailHtml }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        512,
        288
      ],
      "id": "e2e5f3cc-1262-4ad3-9d24-f66ce828c723",
      "name": "Send a message1",
      "webhookId": "2a4c3a5c-a6d2-44ad-9df5-4e3d2aabe08c",
      "credentials": {
        "gmailOAuth2": {
          "id": "BBT3X2s2UlLmI1hr",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "2e392ecf-c465-8082-bc35-e6f0a24dbeea",
          "mode": "list",
          "cachedResultName": "Task & Actions",
          "cachedResultUrl": "https://www.notion.so/2e392ecfc4658082bc35e6f0a24dbeea"
        },
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Support Party (Vendors)|rich_text",
              "condition": "equals",
              "richTextValue": "={{ $('Split Vendors').item.json.vendorName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -1136,
        32
      ],
      "id": "628a511a-9704-4ddf-b13d-120bf7e55c1f",
      "name": "Get many database pages1",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "notionApi": {
          "id": "weTJzSxXCKieQ4wY",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Vendor Performance Tracker",
        "height": 656,
        "width": 3008,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1936,
        -144
      ],
      "typeVersion": 1,
      "id": "204cbc0e-7be3-4d64-a337-094844edacef",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "Schedule - Monday 8 AM": [
      {
        "json": {
          "timestamp": "2026-01-10T16:08:48.923-05:00",
          "Readable date": "January 10th 2026, 4:08:48 pm",
          "Readable time": "4:08:48 pm",
          "Day of week": "Saturday",
          "Year": "2026",
          "Month": "January",
          "Day of month": "10",
          "Hour": "16",
          "Minute": "08",
          "Second": "48",
          "Timezone": "America/New_York (UTC-05:00)"
        }
      }
    ]
  },
  "connections": {
    "Schedule - Monday 8 AM": {
      "main": [
        [
          {
            "node": "Get many database pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Vendors": {
      "main": [
        [
          {
            "node": "Get many database pages1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Performance Score": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Review?": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Performance Report": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many database pages": {
      "main": [
        [
          {
            "node": "Split Vendors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many database pages2": {
      "main": [
        [
          {
            "node": "Calculate Performance Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a database page": {
      "main": [
        [
          {
            "node": "Needs Review?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Performance Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Update a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Send a message1": {
      "main": [
        []
      ]
    },
    "Get many database pages1": {
      "main": [
        [
          {
            "node": "Get many database pages2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5de2f51c-154f-4ac9-9a17-6f3bbb5094ee",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "089d9a927c0abf363ffe8a270a9573534e756390e996737e0bdd0a91a64f564e"
  },
  "id": "WyF7fUpYShswxrHw",
  "tags": []
}